ZENTRY_DEVELOPMENT_DB_USERNAME=zentry
ZENTRY_DEVELOPMENT_DB_PASSWORD=zentry_password

ZENTRY_TEST_DB_USERNAME=zentry
ZENTRY_TEST_DB_PASSWORD=zentry_password

KAFKA_BROKER=kafka:9092
KAFKA_SSL_CA_CERT=
KAFKA_SSL_CLIENT_CERT=
KAFKA_SSL_CLIENT_CERT_KEY=
KAFKA_SSL_CLIENT_CERT_KEY_PASSWORD=
KAFKA_SSL_VERIFY_HOSTNAME=true
KAFKA_SSL_CA_CERTS_FROM_SYSTEM=false
KAFKA_SASL_MECHANISM=
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=

# KAFKA CONSUMER
KAFKA_CONSUMER_GROUP_ID=zentry_consumer
KAFKA_MAX_BYTES=10485760
KAFKA_MAX_WAIT_MS=1000
KAFKA_SESSION_TIMEOUT=30
KAFKA_OFFSET_RETENTION_TIME=86400
KAFKA_HEARTBEAT_INTERVAL=10

# KAFKA PRODUCER
KAFKA_ACK_TIMEOUT=5
KAFKA_REQUIRED_ACKS=1
KAFKA_MAX_BUFFER_SIZE=10000
KAFKA_MAX_BUFFER_BYTESIZE=10485760
KAFKA_COMPRESSION_CODEC=snappy

# KAFKA TOPICS
KAFKA_TOPIC_SLEEP_ENTRIES=sleep_entries